[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/usr/bin/node_exporter \
      --no-collector.arp \
      --no-collector.bcache \
      --no-collector.conntrack \
      --no-collector.edac \
      --no-collector.entropy \
      --no-collector.ipvs \
      --no-collector.mdadm \
      --no-collector.netdev \
      --no-collector.nfs \
      --no-collector.nfsd \
      --no-collector.sockstat \
      --no-collector.time \
      --no-collector.wifi \
      --no-collector.xfs \
      --no-collector.zfs \
      --no-collector.timex \
      --web.listen-address="<%= @ipaddress %>:9100" \
      --log.level="warn" \
      --log.format="logger:syslog?appname=node_exporter&local=7"

[Install]
WantedBy=multi-user.target
