global
  chroot  <%= @home %>
  daemon
  group  <%= @user %>
  maxconn  <%= @max_connections %>
  pidfile  /var/run/haproxy.pid
  user  <%= @user %>
  log 127.0.0.1 local0

defaults
  log  global
  maxconn  <%= @max_connections %>
  option  redispatch
  retries  3
  timeout  http-request 10s
  timeout  queue 1m
  timeout  connect 10s
  timeout  client 1m
  timeout  server 1m
  timeout  check 10s

  listen stats
   bind :<%= @stats_port %>
   mode http
   stats enable
   stats hide-version
   stats realm Haproxy\ Statistics
   stats uri /haproxy_stats
   stats auth <%= @stats_user %>:<%= @stats_pass %>

  listen galera_cluster
   bind <%= @floatip %>:3306
   balance  source
   option  mysql-check
<% @nodes.each do |node, value| -%>
<% if node == @initial_node -%>
   server <%= node %> <%= scope.call_function('resolv', [node]) %>:3306 check port 9200 inter 2000 rise 2 fall 5
<% else -%>
   server <%= node %> <%= scope.call_function('resolv', [node]) %>:3306 backup check port 9200 inter 2000 rise 2 fall 5
<% end -%>
<% end -%>

  listen dashboard_cluster
     bind <%= @floatip %>:443 ssl crt /etc/haproxy/<%= @controller %>.pem
     balance  source
     option  tcpka
     option  httpchk
     option  tcplog
<% @nodes.each do |node, value| -%>
     server <%= node %> <%= scope.call_function('resolv', [node]) %>:443 check ssl verify none inter 2000 rise 2 fall 5
<% end -%>

<% @applications.each do |app, port| -%>
  listen <%= app %>
   bind <%= @floatip %>:<%= port %>
   balance  source
   option  tcpka
   option  httpchk
   option  tcplog
<% @nodes.each do |node, value| -%>
   server <%= node %> <%= scope.call_function('resolv', [node]) %>:<%= port %> check inter 2000 rise 2 fall 5
<% end -%>

<% end -%>
