{
  "datacenter": "<%= @consul['cluster_name'] %>",
  "data_dir": "<%= @home %>",
  "encrypt": "znenbxFVV8AOvApmm6KcZw==",
  "log_level": "WARN",
  "enable_syslog": true,
  "node_name": "<%= @hostname %>",
  "bind_addr": "<%= @ipaddress %>",
  "server": true,
  "leave_on_terminate": false,
  "skip_leave_on_interrupt": true,
  "rejoin_after_leave": true,
  "retry_interval": "60s",
  "retry_join": <%= @consul['nodes'] %>
}
