[Unit]
Description=<%= @description %>
After=syslog.target
After=network.target

[Service]
# Modify these two values and uncomment them if you have
# repos with lots of files and get an HTTP error 500 because
# of that
###
#LimitMEMLOCK=infinity
#LimitNOFILE=65535
Type=simple
User=<%= @user %>
Group=<%= @group %>
WorkingDirectory=<%= @home %>
<% if @hostname == @bootstrap -%>
ExecStart=<%= @home %>/consul agent -config-file <%= @home %>/consul.json -bootstrap
<% else -%>
ExecStart=<%= @home %>/consul agent -config-file <%= @home %>/consul.json
<% end -%>
Restart=always
Environment=USER=<%= @user %> HOME=<%= @home %>

[Install]
WantedBy=multi-user.target
