[Unit]
Description=SNMP_Exporter
Wants=network-online.target
After=network-online.target
After=syslog.target
After=network.target
After=prometheus.service

[Service]
User=snmp_exporter
Group=snmp_exporter
Type=simple
ExecStart=/usr/bin/snmp_exporter \
  --config.file="/opt/prometheus_snmp_exporter/snmp.yml" \
  --web.listen-address="<%= @ipaddress %>:9116" \
  --log.level="warn" \
  --log.format="logger:syslog?appname=snmp_exporter&local=7"

[Install]
WantedBy=multi-user.target
