#!/bin/bash

# If management MAC address match to provided
if [ $(ip link show <%= @networking['primary'] %> | awk '/ether/ {print $2}') == "52:54:00:7d:c1:ab" ]
then
  sudo sed -i "s/kickseed/test/g" /etc/hostname
  sudo sed -i "s/kickseed/test/g" /etc/hosts
fi

# Configure hostname for node lxd
if [ $(ip link show <%= @networking['primary'] %> | awk '/ether/ {print $2}') == "52:54:00:c5:1b:64" ]
then
  sudo sed -i "s/kickseed/lxd/g" /etc/hostname
  sudo sed -i "s/kickseed/lxd/g" /etc/hosts
fi
