interface=<%= @networking['primary'] %>
bind-interfaces
domain=local
stop-dns-rebind
dhcp-range=<%= @networking['primary'] %>,192.168.122.240,192.168.122.253,255.255.255.0,1h
dhcp-option=3,192.168.122.1
dhcp-option=6,192.168.122.1
dhcp-option=6,8.8.8.8
server=8.8.4.4
dhcp-option=28,192.168.122.255
dhcp-option=42,0.0.0.0
dhcp-boot=pxelinux.0,pxeserver,<%= @ipaddress %>
# Assign hostname by MAC address
<% @nodes.each do |key, value| -%>
<% if value['mac'] -%>
dhcp-host=<%= value['mac'] %>,<%= key %>
<% end -%>
<% end -%>
pxe-prompt="Press F8 for menu.", 2
pxe-service=x86PC, "Install Ubuntu 16.04 from network server <%= @ipaddress %>", pxelinux
enable-tftp
tftp-root=/var/tftp
