#!/bin/bash

# Update apt list back from local repositories to Ubuntu official
# sudo sed -i "s/<%= @ipaddress %>/archive.ubuntu.com/g" /etc/apt/sources.list

# Replace old file with this one
cat >/etc/apt/sources.list <<EOL
deb http://us.archive.ubuntu.com/ubuntu/ <%= @release %> main restricted
deb http://us.archive.ubuntu.com/ubuntu/ <%= @release %>-updates main restricted
deb http://us.archive.ubuntu.com/ubuntu/ <%= @release %> universe
deb http://us.archive.ubuntu.com/ubuntu/ <%= @release %>-updates universe
deb http://us.archive.ubuntu.com/ubuntu/ <%= @release %> multiverse
deb http://us.archive.ubuntu.com/ubuntu/ <%= @release %>-updates multiverse
deb http://us.archive.ubuntu.com/ubuntu/ <%= @release %>-backports main restricted universe multiverse
deb http://security.ubuntu.com/ubuntu <%= @release %>-security main restricted
deb http://security.ubuntu.com/ubuntu <%= @release %>-security universe
deb http://security.ubuntu.com/ubuntu <%= @release %>-security multiverse
EOL
