#!/bin/bash

# Add Puppet server resolution record
echo "<%= @ipaddress %>   <%= @fqdn %>" >> /etc/hosts

# Delete default host record
/bin/sed -i '/127.0.1.1/d' /etc/hosts


# Install Puppet 5 Agent
/usr/bin/wget https://apt.puppetlabs.com/puppet5-release-<%= @release %>.deb
sudo dpkg -i puppet5-release-<%= @release %>.deb
sudo apt-get update
sudo apt-get install puppet-agent
# sudo /opt/puppetlabs/bin/puppet agent -t --waitforcert 60

# TODO:
# export puppet role
# need to remove in production and use openstack vm metadata
if [ $(hostname | grep -o '[a-z]\+') == "docker" ]
then
cat << EOF >> /opt/puppetlabs/facter/facts.d/profile.yaml
---
profile: openstack_management
EOF
fi
