default autoinstall
label autoinstall
menu label ^Automatically install Ubuntu 16.04
kernel ubuntu-installer/amd64/linux
append auto=true url=http://<%= @ipaddress %>/ubuntu/preseed/local-sources.seed vga=788 initrd=ubuntu-installer/amd64/initrd.gz ks=http://<%= @ipaddress %>/ubuntu/ks_ubuntu.cfg --- quiet
label cli
menu label ^Command-line install
kernel ubuntu-installer/amd64/linux
append tasks=standard pkgsel/language-pack-patterns= pkgsel/install-language-support=false vga=788 initrd=ubuntu-installer/amd64/initrd.gz --- quiet
