config:
  core.trust_password: sekret
  core.https_address: <%= @ipaddress %>:8443
  # disable images automatic update
  images.auto_update_interval: 0

# only default storage
# local and distributed will be created after cluster initialization
storage_pools:
- name: default
  driver: dir

networks:
- name: lxdbr0
  type: bridge
  config:
    ipv4.address: <%= @nat_address %>
    ipv4.nat: true
    ipv6.address: none

cluster:
  enabled: true
  server_name: <%= @hostname %>
  server_address: <%= @ipaddress %>:8443
<% if @hostname != @initial_node -%>
  cluster_address: <%= @bootstrap_ip %>:8443
  cluster_password: sekret
<% end -%>
