description: "Profile for distributed storage containers"
config:
  limits.memory: 1GB
devices:
  root:
    path: /
    pool: <%= @storage %>
    type: disk
  eth0:
    name: eth0
    nictype: bridged
    parent: lxdbr0
    type: nic
