#libstorage:
#  server:
#    services:
#<% @pools.each_with_index do |(pool, value), idx| -%>
#      service: rbd<%= idx %>
#        driver: rbd
#        rbd:
#          defaultPool: <%= pool %>
#          cephArgs: --id admin --cluster <%= @cluster %>
#<% end -%>

libstorage:
  service: rbd
rbd:
  driver: rbd
  defaultPool: docker_rbd
  cephArgs: --id admin --cluster ceph
