[mysqld]
datadir=<%= @home %>
socket=<%= @home %>/mysql.sock
user=root
binlog_format=ROW
bind-address=<%= @bind_address %>
port=3306
default_storage_engine=innodb
innodb_autoinc_lock_mode=2
innodb_doublewrite=1
innodb_flush_log_at_trx_commit=0
wsrep_on=ON
wsrep_provider=/usr/lib/libgalera_smm.so
wsrep_provider_options="gcache.size=<%= @gcache_size %>M; gcache.page_size=<%= @gcache_page_size %>M"
wsrep_cluster_name=<%= @cluster %>
wsrep_cluster_address="gcomm://<% @nodes.each_with_index do |(node, value), idx| -%><%= scope.call_function('resolv', [node]) %><% if idx < @nodes.length - 1 -%>,<% end -%><% end -%>"
wsrep_sst_method=rsync
wsrep_sst_auth=repl_user:+vQvI9Fe8Nr6
wsrep_node_name=<%= @hostname %>
wsrep_node_address="<%= scope.call_function('resolv', [@hostname]) %>"

# from devstack configured my.cnf
# [mysqld]
# query_cache_size = 0
# query_cache_type = OFF
# max_connections = 1024
# sql_mode = TRADITIONAL


[client]
port=3306
socket=<%= @home %>/mysql.sock
