# Galera Cluster Dockerfile
FROM ubuntu:18.04

ENV DEBIAN_FRONTEND noninteractive

RUN apt-get update \
    && apt-get install -y sudo software-properties-common lsof \
    && sudo apt-key adv --recv-keys --keyserver hkp://keyserver.ubuntu.com:80 0xF1656F24C74CD1D8 \
    && sudo add-apt-repository 'deb [arch=amd64] http://ftp.eenet.ee/pub/mariadb/repo/<%= @mariadb %>/ubuntu <%= @release %> main' \
    && apt-get update \
    && apt-get install -y  \
                mariadb-server \
                rsync \
    && rm -rf /var/lib/{apt,dpkg}/

COPY mariadb.cnf /etc/mysql/mariadb.cnf
COPY start.sh /start.sh
RUN chmod +x /start.sh

EXPOSE 3306/tcp 4567/tcp 4567/udp 4568/tcp 4444/tcp

VOLUME ["<%= @home %>"]

WORKDIR <%= @home %>

ENTRYPOINT ["/start.sh"]
