#!/bin/bash
set -e

CMD="/usr/sbin/mysqld"
LOCKFILE="/var/lib/mysql/cluster_initialized.lock"

<% if @hostname == @primary_node -%>
if [ ! -f "$LOCKFILE" ]; then
    # for galera_new_cluster command we need systemctl util which are
    # not installed in ubuntu docker image
    # so we use --wresp-new-cluster command line parameter
    CMD="/usr/sbin/mysqld --wsrep-new-cluster"
    touch "$LOCKFILE"
fi
<% end -%>

exec $CMD
