[Unit]
Description=Gogs
After=syslog.target
After=network.target
After=mariadb.service mysqld.service postgresql.service memcached.service redis.service

[Service]
# Modify these two values and uncomment them if you have
# repos with lots of files and get an HTTP error 500 because
# of that
###
#LimitMEMLOCK=infinity
#LimitNOFILE=65535
Type=simple
User=<%= @user %>
Group=<%= @user %>
WorkingDirectory=<%= @home %>
ExecStart=/opt/gogs/gogs web
Restart=always
Environment=USER=<%= @user %> HOME=<%= @home %>

[Install]
WantedBy=multi-user.target
