# Image with Gogs service
# provides git server with web ui
#
FROM ubuntu:18.04

RUN apt-get update \
    && apt-get install -y git curl \
    && mkdir -p <% @directories.each do |dir| -%><%= dir %> <% end -%> \
    && cd <%= @application %> \
    && curl -s <%= @url %> | tar -xz --strip 1 \
    && mkdir -p <%= @home %> \
    && rm -rf /var/lib/{apt,dpkg}/

<% @configs.each do |conf| -%>
COPY <%= conf %> /opt/gogs/custom/conf/<%= conf %>
<% end -%>

EXPOSE 3000/tcp 9418/tcp

VOLUME ["<%= @home %>"]

USER root

ENV USER root

WORKDIR <%= @home %>

CMD ["<%= @application %>/gogs", "web"]
