resource <%= @volume%> {
  net {
      transport tcp;
      # from sha1, md5, and crc32c
      csums-alg sha1;
      data-integrity-alg sha1;
  }

<% @nodes.each do |key, value| -%>
  on <%= key %> {
    device    <%= @device%>;
    disk      <%= @disk%>;
    address   <%= value %>;
    meta-disk internal;
  }
<% end -%>
}
