Listen <%= @hostname %>:443

<VirtualHost <%= @hostname %>:443>
    SSLEngine on
    SSLCertificateFile  /etc/ssl/certs/control.crt
    SSLCertificateKeyFile /etc/ssl/private/control.key

    DocumentRoot /usr/share/openstack_dashboard/openstack_dashboard/

    LogLevel warn
    ErrorLog /var/log/apache2/openstack_dashboard-error.log
    CustomLog /var/log/apache2/openstack_dashboard-access.log combined

    WSGIScriptAlias /horizon /usr/share/openstack_dashboard/openstack_dashboard/wsgi.py process-group=horizon
    WSGIDaemonProcess horizon user=horizon group=horizon processes=3 threads=10 display-name=%{GROUP}
    WSGIProcessGroup horizon
    WSGIApplicationGroup %{GLOBAL}

    Alias /static /usr/share/openstack_dashboard/openstack_dashboard/static
    Alias /horizon/static /usr/share/openstack_dashboard/openstack_dashboard/static

    <Directory /usr/share/openstack_dashboard/openstack_dashboard>
      Require all granted
    </Directory>

    <Directory /usr/share/openstack_dashboard/openstack_dashboard/static>
      Require all granted
    </Directory>
</Virtualhost>
