totem {
  version: 2
  cluster_name: lbcluster
  transport: udpu
  interface {
    ringnumber: 0
    bindnetaddr: <%= @floatip_addr %>
    broadcast: yes
    mcastport: 5405
    ttl: 1
  }
}

quorum {
  provider: corosync_votequorum
<% if @nodes.length == 2-%>
  two_node: 1
<% end -%>
}

nodelist {
<% id = 0 -%>
<% @nodes.each do |key, value| -%>
  node {
    ring0_addr: <%= key %>
    name: <%= key %>
    nodeid: <%= id += 1 %>
  }
<% end -%>
}

logging {
	fileline: off
	to_stderr: no
	to_logfile: no
	to_syslog: yes
	syslog_facility: daemon
	debug: off
	timestamp: on
	logger_subsys {
		subsys: QUORUM
		debug: off
	}
}
