Listen <%= @hostname %>:443

<VirtualHost <%= @hostname %>:443>
    SSLEngine on
    SSLCertificateFile  /etc/ssl/certs/<%= @controller %>.crt
    SSLCertificateKeyFile /etc/ssl/private/<%= @controller %>.key

    DocumentRoot /usr/share/openstack-dashboard/openstack_dashboard/

    LogLevel warn
    ErrorLog /var/log/apache2/openstack_dashboard-error.log
    CustomLog /var/log/apache2/openstack_dashboard-access.log combined

    WSGIScriptReloading On
    WSGIScriptAlias /horizon /usr/share/openstack-dashboard/openstack_dashboard/wsgi.py process-group=horizon
    WSGIDaemonProcess horizon user=horizon group=horizon processes=3 threads=10 display-name=%{GROUP}
    WSGIProcessGroup horizon
    WSGIApplicationGroup %{GLOBAL}

    Alias /static /var/lib/openstack-dashboard/static/
    Alias /horizon/static /var/lib/openstack-dashboard/static/

    <Directory /usr/share/openstack-dashboard/openstack_dashboard>
      Require all granted
    </Directory>

    <Directory /var/lib/openstack-dashboard/static>
      Require all granted
    </Directory>
</Virtualhost>
