#
# https://raw.githubusercontent.com/ceph/ceph/master/src/sample.ceph.conf
#
[global]
  fsid = <%= @fsid %>

  mon initial members = <%= @initial_node %>
  mon host = <% @nodes.each_with_index do |(key, value), idx| -%><%= key %><% if idx < @nodes.length - 1 -%>, <% end -%><% end -%>

  mon addr = <% @nodes.each_with_index do |(key, value), idx| -%><% if value['monitor'] == true -%><%= scope.call_function('resolv', [key]) %>:6789<% if idx < @nodes.length - 1 -%>, <% end -%><% end -%><% end -%>

  public network = <%= @public_network %>
  cluster network = <%= @cluster_network %>

  auth cluster required = cephx
  auth service required = cephx
  auth client required = cephx
  cephx cluster require signatures = true
  cephx service require signatures = false

  osd journal size = 1024
  osd pool default size = 3
  osd pool default min size = 1
  osd pool default pg num = 128
  osd pool default pgp num = 128
  osd crush chooseleaf type = 1
  
<% if @rbd_features -%>
  rbd_default_features = <%= @rbd_features %>
<% end -%>

  log to syslog = true

[mon]
  mon clock drift allowed = .15       # (Default: .050)

[mgr]
  mgr_modules = balancer prometheus

[mds]
<% if @nodes[@hostname]['mds'] == true -%>
 [mds.<%= @hostname %>]
   mds_standby_replay = true
   mds_standby_for_rank = 0
   mds_beacon_interval = 2
   mds_beacon_grace = 5
<% end -%>
